body {
  font-family: sans-serif;
}

p {
  margin: 1.5em 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 1.5em 0 0;
}

dd {
  margin: 0 0 0 1.5em;
}

table {
  border-bottom: 1px solid #A9ABB3;
  border-top: 1px solid #A9ABB3;
}

td {
  background-image: url("/static/img/greydot.png");
  background-position: left top;
  background-repeat: repeat-x;
}

td.file {
  font-family: monospace;
}

span.keyword {
  color: #444444;
  font-weight: bold;
  letter-spacing: 0.05em;
}

#navbar {
  background-color: transparent;
  border-bottom: 1px solid #529431;
  display: block;
  list-style: none outside none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  text-indent: 0;
}

#navbar ul {
  clear: both;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#navbar li {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#navbar a:link, #navbar a:visited {
  display: block;
  padding: 0.75em 0.5em 0.25em;
  color: black;
  text-decoration: none;
  border-left: 1px solid #529431;
  border-right: 1px solid #529431;
}

#navbar a:hover {
  background-color: #529431;
  color: white;
}

#navbar a#current {
  font-weight: bold;
}

#content {
  margin: 0px 10px 0 52px;
}

.footer {
  font-size: 0.75em;
  margin: 10px;
  padding: 1em;
  border-color: #DFDFE0;
  border-top-style: solid;
  border-width: 1px 0;
}

div.note {
  background-color: #FFFFCB;
  border: 0.15em solid #CCCCA3;
  font-size: 0.75em;
  line-height: 2em;
  margin: 1.85em 0;
  padding: 0 2em 0 4em;
}

form.quick-search {
  text-align: right;
}
