table {
  border-bottom: 1px solid #A9ABB3;
  border-top: 1px solid #A9ABB3;
}

td {
  background-image: url("/static/img/greydot.png");
  background-position: left top;
  background-repeat: repeat-x;
}

td.file {
  font-family: monospace;
}

span.keyword {
  color: #444444;
  font-weight: bold;
  letter-spacing: 0.05em;
}
